.social-media {
    display: flex;
    justify-content: center;
    padding: 80px 10px;
}

.social-media img {
    margin: 0 20px;
}

@media screen and (max-width: 576px) {
    .social-media {
        padding: 50px 10px;
    }
    .social-media img {
        width: 50px;
        margin: 0 10px;
    }
}

@media screen and (max-width: 350px) {
    .social-media img {
        width: 40px;
        margin: 0 10px;
    }
}